In [1]:
import pandas as pd

In [2]:
data_location = 'C:/Users/kaley/OneDrive/Documents/Coding Stuff/Data Science/Mental Health Project/Sample Data/'
variables_data_location = data_location+'FinchExport_2025-03-01/Bullet.json'

In [4]:
data_series = pd.read_json(variables_data_location, typ='series')
data_df = pd.json_normalize(data_series.data)

In [5]:
data_df.head()

,dt,bullet_type,text,score,is_processed,bullet_status,preferred_emoji_char,completed_time,creation_time,position,...,linked_action_config.bullet.targeting_power_up_uuids,linked_action_config.bullet.associated_power_up_uuids,linked_action_config.bullet.linked_action_config,preferred_area_names,action_name,story_id,is_persistent,preferred_sentiment,gift_ids,linked_community_habit_id
0,"Sun, 28 Apr 2024 01:00:00",1,#Meditation Timer,0.000000,True,0.0,üßòüèæ,,"Sun, 28 Apr 2024 08:50:29",7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Thu, 11 Apr 2024 01:00:00",1,Think about a positive moment with #yoga,6.666667,True,0.0,NaN,,"Thu, 11 Apr 2024 09:01:23",0.0,...,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Fri, 17 May 2024 01:00:00",1,#Yoga,0.000000,True,0.0,NaN,,"Fri, 17 May 2024 10:26:16",3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Sun, 28 Jan 2024 01:00:00",1,Think about a positive moment with #yoga,6.666667,True,0.0,NaN,,"Sun, 28 Jan 2024 07:45:41",0.0,...,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Tue, 5 Sep 2023 01:00:00",1,#Read for #fun,6.666667,True,1.0,NaN,"Tue, 5 Sep 2023 14:56:34","Tue, 5 Sep 2023 10:16:36",8.0,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
cols = ['dt','creation_time','bullet_type','text']
reflections_df = data_df[cols].query("bullet_type == 2")

In [24]:
reflections_df.head()

,dt,creation_time,bullet_type,text
90,"Fri, 23 Jun 2023 01:00:00","Fri, 23 Jun 2023 12:58:37",2,I was thinking about #vulnerability required t...
120,"Mon, 11 Sep 2023 01:00:00","Mon, 11 Sep 2023 21:58:09",2,#Interesting
174,"Fri, 24 Nov 2023 01:00:00","Fri, 24 Nov 2023 19:53:24",2,"Doing my 100th #class today, #Andy giving me a..."
240,"Sun, 26 Nov 2023 01:00:00","Sun, 26 Nov 2023 16:10:53",2,#Tracy was surprised and impressed with my #sp...
319,"Fri, 6 Jan 2023 04:00:00","Sat, 7 Jan 2023 00:10:37",2,My #height is one thing outside my #control th...

In [36]:
reflections_df['datetime'] = pd.to_datetime(reflections_df.dt)
reflections_df['creation_datetime'] = pd.to_datetime(reflections_df.creation_time)
reflections_df['date'] = reflections_df['datetime'].dt.date
reflections_df['creation_date'] = reflections_df['creation_datetime'].dt.date

In [37]:
reflections_df.head()

,dt,creation_time,bullet_type,text,datetime,creation_datetime,date,creation_date
90,"Fri, 23 Jun 2023 01:00:00","Fri, 23 Jun 2023 12:58:37",2,I was thinking about #vulnerability required t...,2023-06-23 01:00:00,2023-06-23 12:58:37,2023-06-23,2023-06-23
120,"Mon, 11 Sep 2023 01:00:00","Mon, 11 Sep 2023 21:58:09",2,#Interesting,2023-09-11 01:00:00,2023-09-11 21:58:09,2023-09-11,2023-09-11
174,"Fri, 24 Nov 2023 01:00:00","Fri, 24 Nov 2023 19:53:24",2,"Doing my 100th #class today, #Andy giving me a...",2023-11-24 01:00:00,2023-11-24 19:53:24,2023-11-24,2023-11-24
240,"Sun, 26 Nov 2023 01:00:00","Sun, 26 Nov 2023 16:10:53",2,#Tracy was surprised and impressed with my #sp...,2023-11-26 01:00:00,2023-11-26 16:10:53,2023-11-26,2023-11-26
319,"Fri, 6 Jan 2023 04:00:00","Sat, 7 Jan 2023 00:10:37",2,My #height is one thing outside my #control th...,2023-01-06 04:00:00,2023-01-07 00:10:37,2023-01-06,2023-01-07

In [38]:
reflections_df = reflections_df[['date','creation_date','datetime','creation_datetime','text']]

In [39]:
reflections_df.head()

,date,creation_date,datetime,creation_datetime,text
90,2023-06-23,2023-06-23,2023-06-23 01:00:00,2023-06-23 12:58:37,I was thinking about #vulnerability required t...
120,2023-09-11,2023-09-11,2023-09-11 01:00:00,2023-09-11 21:58:09,#Interesting
174,2023-11-24,2023-11-24,2023-11-24 01:00:00,2023-11-24 19:53:24,"Doing my 100th #class today, #Andy giving me a..."
240,2023-11-26,2023-11-26,2023-11-26 01:00:00,2023-11-26 16:10:53,#Tracy was surprised and impressed with my #sp...
319,2023-01-06,2023-01-07,2023-01-06 04:00:00,2023-01-07 00:10:37,My #height is one thing outside my #control th...

In [41]:
reflections_df.sort_values('datetime', ascending=False)

,date,creation_date,datetime,creation_datetime,text
12412,2025-02-24,2025-02-24,2025-02-24 01:00:00,2025-02-24 14:57:39,#Priyanka said I'm doing great at my #Kula shifts
12426,2025-02-03,2025-02-04,2025-02-03 01:00:00,2025-02-04 01:10:23,Understood my first #Spanish #meme
11229,2024-12-09,2024-12-09,2024-12-09 01:00:00,2024-12-09 20:59:00,Almost finished my #Unix_Project!
9303,2024-10-14,2024-10-14,2024-10-14 01:00:00,2024-10-14 15:38:35,I dropped my #interview_pants off to be trailered
9129,2024-10-06,2024-10-06,2024-10-06 01:00:00,2024-10-06 12:35:11,I like the #gardens and the quiet streets
...,...,...,...,...,...
9137,2022-10-26,2022-10-26,2022-10-26 01:00:00,2022-10-26 22:12:00,I feel #angry #misunderstood crazy but I don't...
5295,2022-10-26,2022-10-26,2022-10-26 01:00:00,2022-10-26 22:10:01,And I know that's not rational I know it and I...
9798,2022-10-26,2022-10-26,2022-10-26 01:00:00,2022-10-26 22:13:29,If Bryce Doesn't pass this #test then I need t...
12246,2022-10-26,2022-10-26,2022-10-26 01:00:00,2022-10-26 22:11:14,And there's the #maybe_BPD I don't So this co...
8636,2022-10-26,2022-10-26,2022-10-26 01:00:00,2022-10-26 10:27:15,Got up around 9:30am

* date: date (year, month, day) of the goals
* datetime: date and time the goals were added ( generally 1am because that's when the app created the new day's goals? )
* creation date: the date the reflection was written
* creation datetime: date and time the reflection was written
* text: the text of the reflection, ie. what I wrote

#### NOTE: creation_date may differ from date if reflection was written after midnight. The reflection is still considered part of the day before, but creation_datetime records when the reflection was created

compared dates in app and found the corresponding reflection!